{
  "extends": ["react-app","airbnb"],
  "rules": {
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "no-use-before-define": 0,
    "import/extensions": 0,
    "arrow-body-style": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "jsx-a11y/tabindex-no-positive": 0,
    "camelcase": 0,
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "max-len": [
      "error",
      {
        "code": 90,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true
      }
    ]
  }
}
