@import "../../vars.css";

.search-results {
    display: grid;
    row-gap: 1rem;
    margin-top: -1px;
    padding: 1.25rem 1rem;
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 0 3px 6px 0 var(--secondary-color);
    border-radius: .3em;
    font-weight: 600;
}

.search-results__selected {
    color: var(--main-color);
}
